<header class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        Glowroot
      </a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{li_features_class}}">
          <a href="/features.html">Features</a>
        </li>
        <!--li class="{{li_getting_started_class}}">
          <a href="/getting-started.html">Getting started</a>
        </li-->
        <!--li class="{{li_user_guide_class}}">
          <a href="/user-guide.html">User guide</a>
        </li-->
        <li class="{{li_overhead_class}}">
          <a href="/overhead.html">Overhead</a>
        </li>
        <li class="{{li_api_class}}">
          <a href="/instrumentation.html">Instrumentation</a>
        </li>
        <li>
          <a href="https://demo.glowroot.org">
            <i class="fa fa-external-link"></i> Demo site
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
